<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Convert</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600&display=swap');
  
    @keyframes gradientAnimation {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  
    .material-symbols-outlined {
      font-size: 64px;
      color: #DD0426;
      font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
    }
  
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Montserrat Alternates', sans-serif;
    }
  
    body {
      height: 100vh;
      background: #222;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  
    .logo-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #f7f7f7;
    }
  
    form {
      padding: 8px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .input-box {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
    }
  
    #new-input-box {
      display: flex;
      flex-direction: column;
    }
  
    .button-box {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 0.8rem;
    }
  
    input,
    button {
      height: 38px;
      border-radius: 8px;
      outline: none;
      border: none;
    }
  
    input {
      background-color: #dd042530;
      outline: 1px solid transparent;
      padding: 8px;
      color: #f7f7f7;
      width: 300px;
    }
  
    .new-input {
      margin-bottom: 0.8rem;
    }
  
    input:focus {
      outline-color: #DD0426;
    }
  
    input::placeholder {
      color: #f7f7f76b;
      font-size: 0.8rem;
    }
  
    button {
      background-color: #DD0426;
      color: #f7f7f7;
      transition: 0.2s;
      cursor: pointer;
    }
  
    button:hover {
      background-color: #dd0425b6;
    }
  
    button:active {
      background-color: #dd04257e;
    }
  
    #add-button {
      display: block;
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    #add-button:hover {
      color: #dd0425b6;
    }
  
    #add-button:active {
      color: #dd04257e;
    }
  
    #add-button-wrap {
      background-color: transparent;
    }
  
    .main-button {
      width: 347.6px;
      margin-top: 8px;
    }
  
    #delete-input-button {
      display: block;
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    #delete-input-button:hover {
      color: #dd0425b6;
    }
  
    #delete-input-button:active {
      color: #dd04257e;
    }
  </style>
</head>
<body>
 
  <form action="/convert" method="post">
    <div class="input-box" id="input-box">  
      <div class="logo-box">
        <span class="material-symbols-outlined">
          equalizer
        </span>
        RunDJ
      </div>
      <div class="button-box" id="button-box">
        <input type="text" name="videos" id="videoId" placeholder="https://www.youtube.com">
        <button id="add-button-wrap" type="button">
          <span class="material-symbols-outlined" id="add-button">
            loupe
          </span>
        </button>
      </div>
      <div id="new-input-box"></div>
    </div>
    <button class="main-button" id="main-button" type="submit">Convert</button>
  </form>
  <div id="result-container">
  
  </div>
  <script>
    const addButton = document.getElementById("add-button-wrap");
    const inputContainer = document.getElementById("new-input-box");
    const mainButton = document.getElementById("main-button");
    const form = document.querySelector("form");
    const maxInputs = 4;
    let inputValues = [];
    let clicks = 0;
  
    addButton.addEventListener('click', () => {
      if (clicks > maxInputs) {
        alert("You can add a maximum of 5 links.");
        return;
      }
      clicks++;
  
      const newInputBox = document.createElement("div");
      newInputBox.classList.add("button-box");
  
      const newInput = document.createElement("input");
      newInput.type = "text";
      newInput.name = "videos";
      newInput.classList.add('new-input');
      newInput.placeholder = "https://www.youtube.com";
  
      const deleteButton = document.createElement("span");
      deleteButton.type = "button";
      deleteButton.classList.add("material-symbols-outlined");
      deleteButton.id = "delete-input-button";
      deleteButton.innerText = "delete";
  
      deleteButton.addEventListener("click", () => {
        clicks--;
        inputContainer.removeChild(newInputBox);
        const index = inputValues.indexOf(newInput.value);
        if (index !== -1) {
          inputValues.splice(index, 1);
        }
      });
  
      newInputBox.appendChild(newInput);
      newInputBox.appendChild(deleteButton);
      inputContainer.appendChild(newInputBox);
    });
  
    mainButton.addEventListener('click', (e) => {
      e.preventDefault();
      inputValues = [];
  
      const inputs = document.querySelectorAll('input[name="videos"]');
      inputs.forEach((input) => {
        inputValues.push(input.value);
      });
  
      fetch('/convert', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ videos: inputValues })
    })
      .then(response => response.json())
      .then(data => {
        // O código abaixo adiciona um link de download para cada vídeo convertido no elemento com o id "result-container"
        const resultContainer = document.getElementById('result-container');
        data.videos.forEach((video, index) => {
          const downloadLink = document.createElement('a');
          downloadLink.href = `/download/${index}`;
          downloadLink.innerText = `Download Video ${index + 1}`;
          resultContainer.appendChild(downloadLink);
        });
      })
      .catch(error => {
        console.error(error);
      });
    });
  </script>
</body>
</html>
